body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background: #333;
    color: white;
    padding: 20px;
}

#produtos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.produto {
    background: white;
    margin: 10px;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 200px;
}

.produto img {
    width: 100%;
    border-radius: 8px;
}
